body {
    font-family: 'Inter', Arial;
}

#top {
    z-index: 1;
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 0;
    border: 3px solid grey;
    background-color: gray;
    color: black;
    padding: 10px;
    width: 100%;
    height: 40px;
    text-align: center;

}

#side {
    z-index: 2;
    position: fixed;
    top: 65px;
    left: 0px;
    margin: 0;
    border: 3px solid grey;
    background-color: grey;
    color: grey;
    padding: 10px;
    width: 150px;
    height: 100%;
}

#main {
    z-index: 0;
    position: relative;
    top: 76px;
    left: 180px;
    padding: 5px;
    margin: 0;
    width: 1200;
}

a {
    color: white;
}

/* Below code is from https://codepen.io/yuhomyan/pen/OJMejWJ */
.custom-btn {
    width: 135px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }

.btn-10 {
    background: rgb(22,9,240);
    background: linear-gradient(0deg, rgba(22,9,240,1) 0%, rgba(49,110,244,1) 100%);
    color: #fff;
    border: none;
    transition: all 0.3s ease;
    overflow: hidden;
    margin-top: 5px;
  }
  .btn-10:after {
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
    -webkit-transform: scale(.1);
    transform: scale(.1);
  }
  .btn-10:hover {
    color: #fff;
    border: none;
    background: transparent;
  }
  .btn-10:hover:after {
    background: rgb(0,3,255);
    background: linear-gradient(0deg, rgba(2,126,251,1) 0%,  rgba(0,3,255,1)100%);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  /* end of stolen code */
