:root body {
  background: black;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
:root body #grid {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
  justify-content: center;
}
:root body #grid .grid-item {
  min-width: 100%;
  min-height: 100%;
  background-color: white;
  cursor: pointer;
  position: relative;
}
:root body #grid .grid-item:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  outline: 1px solid black;
  display: block;
}
:root body #grid .grid-item:hover {
  opacity: 0.8;
}