.password {
  background-image: url("arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

h1  {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 600;
}

body {
  backdrop-filter: blur(10px); /* blur effect to the backdrop */
  background-color: rgba(255, 255, 255, 0.2);
  background-image: url("background.jpg");
  text-align: center;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*@import url("font.css");*/
body {
  margin: 0;
  padding: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes descend {
  from {
    top: 45%;
  }
  to {
    top: 50%;
  }
}

/* line 45, ../../../OneDrive - Wesley College/Documents/logon/index.scss */
#login-page-container {
  width: 100%;
  height: 100%;
  font-size: 16px;
  color: white;
}

/* line 54, ../../../OneDrive - Wesley College/Documents/logon/index.scss */
#login-page-container #login-page-inner {
  width: 400px;
  position: relative;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  animation: fadeIn 1s ease-in-out, descend 0.5s ease-in-out;
}

/* line 60, ../../../OneDrive - Wesley College/Documents/logon/index.scss */
#login-page-container #login-page-inner #user-image-container,
#login-page-container #login-page-inner #username-container,
#login-page-container #login-page-inner #input-container {
  text-align: center;
}

/* line 65, ../../../OneDrive - Wesley College/Documents/logon/index.scss */
#login-page-container #login-page-inner #user-image-container {
  margin: 0 auto;
  width: 180px;
  height: 180px;
  font-size: 110%;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

/* line 72, ../../../OneDrive - Wesley College/Documents/logon/index.scss */
#login-page-container #login-page-inner #user-image-container .fa-user-o {
  line-height: 140px;
  color: white;
}

/* line 77, ../../../OneDrive - Wesley College/Documents/logon/index.scss */
#login-page-container #login-page-inner #username-container {
  margin-bottom: 40px;
  margin-top: 20px;
  font-family: "Roboto";
  font-size: 105%;
  color: white;
}

/* line 84, ../../../OneDrive - Wesley College/Documents/logon/index.scss */
#login-page-container #login-page-inner #input-container {
  height: 50px;
}

/* line 86, ../../../OneDrive - Wesley College/Documents/logon/index.scss */
#login-page-container #login-page-inner #input-container #password {
  margin: 0 auto;
  height: 25px;
  width: 300px;
  padding-left: 5px;
}

/* line 92, ../../../OneDrive - Wesley College/Documents/logon/index.scss */
#login-page-container #login-page-inner #input-container #submit {
  height: 31px;
  padding: 0 10px;
  position: relative;
  right: 5px;
  background-color: #bdbdbd;
  border: none;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  cursor: pointer;
}

/* line 102, ../../../OneDrive - Wesley College/Documents/logon/index.scss */
#login-page-container #login-page-inner #input-container #submit .fa-arrow-right {
  line-height: 28px;
  color: white;
}

/* line 106, ../../../OneDrive - Wesley College/Documents/logon/index.scss */
#login-page-container #login-page-inner #input-container #submit:hover {
  background-color: #9e9e9e;
}

@media (min-width: 330px) and (max-width: 449px) {
  /* line 115, ../../../OneDrive - Wesley College/Documents/logon/index.scss */
  #login-page-container {
    font-size: 12px !important;
  }
  /* line 118, ../../../OneDrive - Wesley College/Documents/logon/index.scss */
  #login-page-inner {
    width: 300px !important;
  }
  /* line 121, ../../../OneDrive - Wesley College/Documents/logon/index.scss */
  #user-image-container {
    width: 110px !important;
    height: 110px !important;
  }
  /* line 125, ../../../OneDrive - Wesley College/Documents/logon/index.scss */
  .fa-user-o {
    line-height: 110px !important;
  }
  /* line 128, ../../../OneDrive - Wesley College/Documents/logon/index.scss */
  #password {
    width: 200px !important;
  }
}

/*# sourceMappingURL=index.css.map */